body {
    background-color: #E3FFFE;
}
.jenNav {
    background-color: #F6B1CF !important;
}
#JenName {
    max-width: 200px;
}
.jen-nav-ul {
    margin-left: auto;
    margin-right: 0 !important;
}
.jen-nav-item {
    font-family: 'Roboto', sans-serif;
}
.jen-nav-link {
    color: #095B5D !important;
}
.jen-nav-link:hover {
    color: #660B32 !important;
}
.jen-jumbotron {
    background-image: url(../images/TropicalFloral.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
}
.jen-jumbo-content {
    width: 50%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}
.jen-jumbo-content h1 {
    color: #F6B1CF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0,0,0,.4);
}
.jen-jumbo-content p {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0,0,0,.4);
}
.jen-jumbo-btn {
    background-color: #43AE87!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    border-radius: .125rem!important;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4)!important;
}
.jen-jumbo-btn:hover {
    background-color: #095B5D!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    border-radius: .125rem!important;
}
.jen-jumbo-btn:active {
    background-color: rgb(2, 124, 126)!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    border-radius: .125rem!important;
}
.jen-work h1 {
    color: #095B5D;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.jen-work h2 {
    color: #095B5D;
    font-family: 'Roboto', sans-serif;
}
.jen-work p {
    color: #19243A;
    font-family: 'Roboto', sans-serif;
}
.row {
    margin-bottom: 20px;
}
.workPhoto {
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.4);
}
.jen-work-btn {
    background-color: #F183B4!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}
.jen-work-btn:hover {
    background-color: #EE348A!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}
.jen-work-btn:active {
    background-color: rgb(175, 6, 85)!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}
.jen-jumbotron-2 {
    background-image: url(../images/TropicalLeaves.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    width: 80%;
    margin: auto;
}
.jen-jumbo-content-2 {
    width: 35%;
    background-color: #FAD2E4;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    padding: 30px;
}
.jen-jumbo-content-2 h1 {
    color: #095B5D;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
.jen-jumbo-content-2 p {
    color: #095B5D;
    font-family: 'Roboto', sans-serif;
}
.jen-jumbo-content-2 a {
    color: #095B5D;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.jen-jumbo-content-2 a:hover {
    color: #660B32;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
#JenRound {
    max-width: 200px;
    margin-bottom: 10px;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    border-radius: 100%;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.jen-modal {
    text-align: left;
}
.jen-form label.active {
	transform: translateY(-14px) scale(.8);
}
.jen-send-btn {
    background-color: #F183B4!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4)!important;
}
.jen-send-btn:hover {
    background-color: #EE348A!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4)!important;
}
.jen-send-btn:active {
    background-color: rgb(175, 6, 85)!important;
    font-family: 'Roboto', sans-serif!important;
    color: #ffffff;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4)!important;
}
.social-media {
    margin-top: 20px;
}
.LinkedIn {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-block;
    background: transparent url(../images/GreenLinkedIn.png) center top no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
    transform: scale(1,1);
}
.LinkedIn:hover {
    background: transparent url(../images/GreenLinkedIn2.png) center top no-repeat;
    background-size: cover;
    transform: scale(1.2,1.2);
}
.Behance {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-block;
    background: transparent url(../images/GreenBehance.png) center top no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
    transform: scale(1,1);
}
.Behance:hover {
    background: transparent url(../images/GreenBehance2.png) center top no-repeat;
    background-size: cover;
    transform: scale(1.2,1.2);
}
.Dribbble {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    display: inline-block;
    background: transparent url(../images/GreenDribbble.png) center top no-repeat;
    background-size: cover;
    transition: all 0.3s ease;
    transform: scale(1,1);
}
.Dribbble:hover {
    background: transparent url(../images/GreenDribbble2.png) center top no-repeat;
    background-size: cover;
    transform: scale(1.2,1.2);
}
footer {
    background-color: #F6B1CF !important;
    padding: 10px;
}
.jen-footer {
    width: 50%;
    border-left: 3px solid #ffffff;
    padding: 20px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #095B5D;
}
.jen-footer p {
    font-weight: 700;
}
@media only screen and (max-width: 768px) {
    .workPhoto {
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 2px 2px 5px rgba(0,0,0,.4);
    }
    .jen-jumbo-content {
        width: 90%;
        margin: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 20px;
    }
    .jen-jumbotron-2 {
        background-image: url(../images/TropicalLeaves.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0;
        width: 90%;
        margin: auto;
    }
    .jen-jumbo-content-2 {
        width: 90%;
        background-color: #FAD2E4;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        padding: 20px;
    }
    .jen-footer {
        width: 70%;
        border-left: 3px solid #ffffff;
        padding: 20px;
        margin: auto;
        font-family: 'Roboto', sans-serif;
        color: #095B5D;
    }
}